p {
    font-size: 16px;
}

body {
    background-color: #0066A4;
}

h1{
    color: grey;
}

h2{
    color:grey;
}

h3{
    color:white;
}
a{
    color: #F0E2E3;
}

.jumbotron {
    background: url(https://te.columbusstate.edu/images/te_banner.jpg);
    background-repeat: no-repeat;
    color: #F0E2E3;
    background-size: cover;
    height: 330px;
    margin-bottom: 0px;
    margin-top: 25px;
}

.jumbotron h2 {
    margin-left: 30px;
    margin-top:0px;
    text-shadow: 2px 2px #0066a4;
    color: #F0E2E3;
    /* bright yellow #F7F16E*/
}

.jumbotron h3 {
    margin-left: 30px;
    margin-top:0px;
    text-shadow: 2px 2px #0066a4;
    color: #F0E2E3;
    /* bright yellow #F7F16E*/
}

.heading {
    background-color: black;
    color: #F0E2E3;
    height: 60px;
}

#headText {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}

#firstRow{
    margin-top: 20px;
    margin-bottom: 20px;
}


#firstRow blockquote {
        margin: 0;
        padding: 0;
        border-left: none;
        width: 300px;
        position: relative;
    }
    
#firstRow blockquote .quote {
        background-color: rgba(255, 255, 255, .6);
        padding: 20px 5%;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 0 50px 0 0;
    }
    
#firstRow blockquote .quote:hover {
        background-color: rgba(239, 240, 196, .9);
    }
    
#firstRow #instDesign {
        height: 250px;
        background: url('http://blog.commlabindia.com/wp-content/uploads/2011/10/5-must-have-qualities.jpg'),no-repeat center center;
background-size: 100%;
    border-radius: 8px;
    }
    
#firstRow #researcher {
        height: 250px;
        background: url('./images/phd.jpg');
        background-size: 100% 130%;
            border-radius: 8px;
    }
    
#firstRow #techSpec {
        height: 250px;
        background: url('./images/tech_specialist.jpg');
        background-size: cover;
            border-radius: 8px;
    }



#firstRow #leapfrog {
    height: 250px;
    background-image: url('https://s7.leapfrog.com/is/image/LeapFrog/LearningPath_1024x1024?$lp-site-icon$');
    background-size: cover;
    border-radius: 8px;
}
#firstRow #game {
    height: 250px;
    background-image:url('http://www.theartcareerproject.com/wp-content/uploads/2011/12/iStock_000002641390XSmall.jpg');
    background-size: 100% 100%;
    border-radius: 8px;
}

#firstRow #entre {
    height: 250px;
    background-image:url('https://assets.entrepreneur.com/content/16x9/822/12-surprising-signs-entrepreneur.jpg');
    background-size: 100% 100%;
    border-radius: 8px;
}

#firstRow #webDev {
    height: 250px;
    background-image:url('http://trillioncreative.com/wp-content/uploads/2015/04/Web-Designer-vs-Web-Developer_Developer.png');
    background-size: 100% 100%;
    border-radius: 8px;
}







    
#firstRow .quote {
        font-size: 1.2em;
        line-height: 110%;
        font-weight: 120;
    }
    
#firstRow .quote .more
    {
        opacity: 0;
        font-size: 0;
        line-height: 0;
        padding-top: 10px;
    }
    
#firstRow .quote:hover .more {
        font-weight: 100;
        display: block;
        opacity: 1;
        font-size: 0.8em;
        line-height: 120%;
    }

#firstRow .quote:hover .more a {
    color: hotpink;
}
    
#firstRow .quote .intro::after {
        content: '...';
    }
    
#firstRow .quote:hover .intro::after {
        content: '';
    }





.btn-default{
    border-radius: 8px;
    /*text-shadow: 1px 1px #0066a4;*/
    color: black;
    /*font-weight: bold;*/
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    margin-top: 20px;
    height:50px;
    font-size: 18px;
}


footer {
    color:white;
    background-color: black;
    padding-top: 15px;
}


